* {
    max-width: 100%;
}

html {
    scroll-behavior: smooth; /* Hace que el desplazamiento sea suave */
}

body {
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    background-image: url("imagenes/Fondo-estatico.jpg"); /* Establece la imagen de fondo */
    background-size: cover; /* Ajusta el fondo al tamaño de la pantalla */
    background-position: top center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    background-attachment: fixed; /* Hace que el fondo sea estático */
}

.navbar {
    position: fixed; /* Fija la barra de navegación en la parte superior */
    top: 0; /* Posición en la parte superior */
    left: 0; /* Posición en la parte izquierda */
    width: 100%; /* Ancho completo */
    background-color: #009FE3; /* Color de fondo */
    display: flex; /* Usa flexbox para el diseño */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos al centro */
    padding: 5px 5px; /* Espaciado interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra de la barra */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
}

.nav-btn {
    list-style: none; /* Elimina los estilos de lista */
    display: flex; /* Usa flexbox para el diseño */
    gap: 20px; /* Espacio entre los elementos */
    margin-right: 20px;
}

.nav-btn a {
    color: white;
    text-decoration: none;
}

.inicio {
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del elemento */
}

.btn-inicio {
    display: inline-block; /* Hace que el enlace se comporte como un botón */
    background-color: #009FE3; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 20px; /* Bordes redondeados */
    border: 2px solid #009FE3;
    font-size: 1.5vw;
}

.btn-inicio:hover {
    background-color: white; /* Color de fondo al pasar el ratón por encima */
    color: #009FE3;
    border-color: #009FE3;
    border-radius: 20px;
}

.titulo {
    font-size: 4vw; /* Tamaño de fuente relativo al ancho de la ventana */
    color: #009FE3;
    line-height: 1.2; /* Ajusta la altura de línea para mantener el texto en dos líneas */
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 2.5vw; /* Tamaño de fuente relativo al ancho de la ventana */
    line-height: 1.2; /* Ajusta la altura de línea para mantener el texto en dos líneas */
    margin-bottom: 10px;
    margin-top: 0;
}

.nosotros {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.textos-nosotros, .imagen-nosotros {
    flex: 1; /* Hace que cada columna ocupe el mismo espacio */
}

.titulo-servicios {
    padding-top: 50px;
}

.bloques-servicios {
    display: flex; /* Hace que el contenedor use Flexbox */
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
}

.bloque1, .bloque2 {
    border: 2px solid white; /* Borde blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    color: white; /* Color del texto */
    text-align: left; /* Centra el texto */
    margin: 20px; /* Margen alrededor del cuadro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}
