* {
    max-width: 100%;
}

html {
    scroll-behavior: smooth; /* Hace que el desplazamiento sea suave */
}

body {
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    background-image: url("imagenes/Fondo-estatico.jpg"); /* Establece la imagen de fondo */
    background-size: cover; /* Ajusta el fondo al tamaño de la pantalla */
    background-position: top center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    background-attachment: fixed; /* Hace que el fondo sea estático */
}

.navbar {
    position: fixed; /* Fija la barra de navegación en la parte superior */
    top: 0; /* Posición en la parte superior */
    left: 0; /* Posición en la parte izquierda */
    width: 100%; /* Ancho completo */
    background-color: #009FE3; /* Color de fondo */
    display: flex; /* Usa flexbox para el diseño */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos al centro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra de la barra */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
    padding-left: 20px;
}

.nav-btn {
    list-style: none; /* Elimina los estilos de los botones*/
    display: flex; /* Usa flexbox para el diseño */
    margin-right: 20px;
}
.nav-btn a {
    padding: 10px;
    color: white;
    text-decoration: none;
}
.nav-btn a:hover {
    background-color: white; /* Color de fondo al pasar el ratón por encima */
    color: #009FE3;
    border-color: #009FE3;
    border-radius: 10px;
}
.inicio {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del elemento */
    padding-block: 100px;
}

.btn-inicio {
    display: inline-block; /* Hace que el enlace se comporte como un botón */
    background-color: #009FE3; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 20px; /* Bordes redondeados */
    border: 2px solid #009FE3;
    font-size: 1.5vw;
}

.btn-inicio:hover {
    background-color: white; /* Color de fondo al pasar el ratón por encima */
    color: #009FE3;
    border-color: #009FE3;
    border-radius: 20px;
}

.titulo {
    font-size: 4vw; /* Tamaño de fuente relativo al ancho de la ventana */
    color: #009FE3;
    line-height: 1.2; /* Ajusta la altura de línea para mantener el texto en dos líneas */
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 2.5vw; /* Tamaño de fuente relativo al ancho de la ventana */
    line-height: 1.2; /* Ajusta la altura de línea para mantener el texto en dos líneas */
    margin-bottom: 10px;
    margin-top: 0;
}

.nosotros {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-block: 100px;
}
.textos-nosotros {
    padding-left: 50px;
}
.textos-nosotros, .imagen-nosotros {
    flex: 1; /* Hace que cada columna ocupe el mismo espacio */
}

.servicios {
    background-color: rgba(0, 159, 227, 0.5);
    padding-block: 100px;
    
}
.titulo-servicios {
    padding-left: 50px;
    color: white;
}
.bloques-servicios {
    display: flex; /* Hace que el contenedor use Flexbox */
    align-items: stretch; /* Asegura que todos los elementos tengan la misma altura */
    justify-content: center; /* Centra horizontalmente */
}

.bloque1, .bloque2, .bloque3 {
    width: 200px;
    border: 2px solid white; /* Borde blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    color: white; /* Color del texto */
    text-align: left; /* Centra el texto */
    margin: 20px; /* Margen alrededor del cuadro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para darle profundidad */
}
.titulo1, .titulo2, titulo3 {
    padding-left: 15px;
}
hr {
    color: white;
}
.contacto {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-block: 150px;
    padding-right: 50px;
    padding-left: 50px;
}

.info-contacto {
    text-align: left;
    flex: 1;
}
.formulario {
    border: 2px solid #007bb3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: left;
    flex: 1;
    padding: 10px
}
.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario input, .contacto textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    
}
.btn-enviar {
    display: flex;
    justify-content: center;
}
.formulario button {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #009FE3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.formulario button:hover {
    background-color: white;
    color: #009FE3;
    border: 2px solid #009FE3;
}
