
.titulo-catalogo {
    margin-top: 70px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px; /* Ajusta este valor según necesites */
    margin-bottom: 15px;
}
.titulo-catalogo h1 {
    font-size: 2em;
    margin: 0; /* Elimina los márgenes predeterminados */
}
.titulo-catalogo p {
    font-size: 1em;
    margin: 0; /* Elimina los márgenes predeterminados */
}
.catalogo {
    padding-left: 10px;
    gap: 10px; /* Ajusta este valor según necesites */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.producto {
    display: inline-block;
    text-align: start;
    width: 300px;
    opacity: 0; /* Inicialmente invisible */
    animation: aparecer 2s ease-in-out forwards;
    padding-bottom: 15px;
}
.producto span {
    color: #000;
    font-size: 1em;
    margin: 0; /* Elimina los márgenes predeterminados */
}
.producto p {
    color: #0303039a;
    font-size: 1em;
    margin: 0; /* Elimina los márgenes predeterminados */
}
.producto img {
    width: 100%;
}
.producto img:hover {
    transform: scale(1.1);
}
.producto button {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.producto button:hover {
    color: red;
    box-shadow: 0 0 5px #ff1a1a, 0 0 10px #ff1a1a, 0 0 15px #ff1a1a;
}

#carrito-contenedor {
    display: none;
    position: fixed; /* Para que se muestre correctamente */
    top: 50px;
    right: 10px;
    width: 300px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    visibility: hidden; /* Se mantiene oculto hasta que se active */
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    opacity: 0;
}

#carrito-contenedor.mostrar {
    visibility: visible;
    opacity: 1;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#carrito-contenedor h2 {
    margin-top: 0;
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.eliminar {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.eliminar:hover {
    background: darkred;
}


@media (max-width: 768px) {
    .catalogo {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        width: 100vw;
        padding: 5px;
    }
    .producto {
        width: 180px;
    }

}
